/* :root {
    --color-bg: #0f1723;
    --color-header: #2b3f80;
    --color-header-gradient: linear-gradient(var(--color-header), var(--color-button));
    --color-button: #1a2f4d;
    --color-button-hover: #003f64;
    --color-button-border: #ccdaee;
    --color-a: #cc2f33;
    --color-black: #000;
    --color-white: #fff;
} */

:root {
    --color-error-bg: #ffa8a8;
}
.form-header {
    text-align: center;
    margin: 16px;
    font-size: 24px;
}

.form-container {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid var(--color-button-border);
    width: 272px;
    min-height: 363px;
    height: auto;
    padding: 16 24 16 24;
}

div.form-error {
    margin: 7 auto 7 auto;
    background-color: var(--color-error-bg);
    border: 1px solid var(--color-white);
    padding: 6px;
    border-radius: 5px;
    color: var(--color-a);
    font-size: 12px;
}

span.form-error {
    display: block;
}

.container-content {
    margin: 256 auto 32 auto;
    font-size: 16;
}

.container-content a{
    color: var(--color-a);
}

/* form content */
.input-group {
    display: block;
    position: relative;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
}

.input-submit {
    position: absolute;
    right: 0;
}


.input-submit button {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.input-submit input[type="submit"] {
    background-color: var(--color-button);
    padding: 3px;
    border-radius: 1px;
    border: 1px solid var(--color-button-border);
    color: var(--color-white);
}

.input-submit input[type="submit"]:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
}
